html {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("http://wes.io/hx9M/oh-la-la.jpg") center no-repeat;
  background-size: cover;
}
* {
  box-sizing: border-box;
}
.wrapper {
  padding: 20px;
  min-width: 350px;
  background: rgba(255,255,255,0.8);
  box-shadow: 0px 3px 20px 10px rgba(0,0,0,0.95);
}
.wrapper h2 {
  text-align: center;
  margin: 0;
  font-weight: 200;
}
.plates {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}
.plates li {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 10px 5px 0px;
  display: flex;
}
.plates li label {
  flex: 1;
  cursor: pointer;
}
.plates li input {
  display: none;
}
.plates li .add-items {
  margin-top: 20px;
}
.plates li .add-items input {
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(0,0,0,0.1);
}
