*
  margin: 0
  padding: 0

/* html
  font-size 28px */

body
  font-family -apple-system, Arial, sans-serif 
  background-color: pink
  padding: 2rem

.app
  max-width 600px
  margin: 0 auto
  background-color rgb(157, 157, 157)
  padding: 2rem
  border-radius: 0.5rem
  box-shadow: 20px 20px 6px rgba(0,0,0,0.5)

.header
  text-align: center
  