*
  margin: 0
  padding: 0

/* html
  font-size 28px */

body
  font-family -apple-system, Arial, sans-serif 
  background-color: grey
  padding: 2rem

.app
  max-width 600px
  margin: 0 auto
  background-color white
  padding: 2rem
  border-radius: 0.5rem
  box-shadow: 20px 20px 6px rgba(0,0,0,0.5)

.header
  text-align: center
  
.todo-input
  display flex
  gap 1rem
  margin-botton 1rem

.todo-list
  list-style nonepadding 0
  .todo-item
    display flex
    justify-content space-between
    align-items center
    padding: 0.5rem
    border-buttom 1px solid #ccc
    .completed
      text-decoration: line-through
      color grey

  