.toastWrapper{
    position: absolute;
    bottom: 120px;
    right: 20px;
    background-color: #1890ff;
    border-radius: 16px;
    color: white;
    padding: 16px 24px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    font-size: 24px;
    display: flex;
    gap: 24px;
    align-items: center;
    z-index: 1000;
}