*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #efefef;
    height: 100%;

}
.weui-page{
    padding: 18px;

}
.weui-page__hd{
    padding: 40px;

}
.weui-page__title{
    font-size: 30px;
    font-weight: bold;
}
.weui-page__desc{
    font-size: 16px;
    color: rgb(60, 54, 49);
}
.weui-btn{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    display: block;
    margin: 30px;

    
}
.weui-btn_primary{
    background-color: #00b200;
    color: white;
}
.weui-btn_default{
    background-color: #afafaf;
    color: rgb(0, 0, 0);
}
.weui-cells{
    
}
.weui-cells__title{
    font-size: 25px;
    font-weight: bold;
}
.weui-cell{
    width: 80%;
background: #ffffff;
margin: 30px;
display: flex;
font-size: 20px;
align-items: center;
gap:50px;
}
img{
    width: 100px;
    height: 100px;
}
.weui-cell__bd{
    padding-left: 100px;
    padding-right: 100px;
   
}

.weui-form__hd{
    font-size:20px ;
    margin-bottom: 30px;
}
.weui-form__bd {
    background-color: #fff;
    width: 80%;
    margin: 30px; /* 水平居中 */
    text-align: center;
    padding: 20px;
}

.weui-form__id,
.weui-form__pwd {
    display: flex;
    align-items: center; /* 垂直居中对齐 */
    justify-content:left; /* 让标签和输入框分布在两侧 */
    padding: 10px 0;
}

input {
    width: 40%;
    height: 25px;
    border-radius: 4px;
    padding: 0 10px;
}
label{
    width: 70px;
}