main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .movie {
    width: 300px;
    margin: 1rem;
    position: relative;
  }
  .movie img {
    width:100%;
  }
  
  .overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 100%;
    transform: translateY(101%);
    overflow-y: hidden;
    transition: transform 0.3s  ease-in;
  }
  .movie:hover .overview {
    transform: translateY(0);
  }