* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    /* 弹性布局 pad 手机 布局 flex  */
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* vh 相对单位 viewport height 100vh相当于全屏 比例元素 */
    overflow: hidden;
    /* 超出隐藏 */
}

.container {
    display: flex;
    /* 弹性布局 */
    width: 100vw;
    /* vw 相对单位 viewport width 100vw相当于全屏 比例元素 */
}

.qq-panel {
    height: 80vh;
    width: 50px;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px;
    position: relative;
    color: #fff;
    flex: 1;
    transition: all 0.5s ease-in;/* 过渡效果 */
}

.qq-panel__title {
    font-size: 16px;
    bottom: 20px;
    left: 20px;
    position: absolute;
    opacity: 0; /* 透明度 */
}

.qq-panel_active  {
    flex: 20;
    background-size: cover;
     width: 50%;
}
.qq-panel_active .qq-panel__title {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
